[user]
	name = Robert Liu
	email = robqliu@gmail.com
# Linux
[core]
	excludesfile = ~/.gitignore
# Windows
#[core]
#	excludesfile = %HOMEDRIVE%%HOMEPATH%/.gitignore

[diff]
	tool = vimdiff
[difftool]
	prompt = false
[color]
	ui = true
